@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@400;600;800&display=swap');

/* font-family: 'DotGothic16', sans-serif; */

:root {
    --hr-magenta: rgb(211, 17, 76);
    --left-bubble: rgb(78, 219, 127);
    --right-bubble: hsl(204, 79%, 61%);
}

html, body {
    overflow-y: auto;
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, p, a, span, label, input, textarea, button, select, option {
    font-family: 'Poppins', sans-serif !important;
}

code {
    background-color:darkblue;
    border-radius:2px;
    padding:2px;
    color:turquoise;
}

code.block {
    display: block;
}

.title {
    font-weight: 800;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 100vw 0 0;
    border-color: var(--hr-magenta) transparent transparent transparent;
    transform: rotate(0deg);
}

.has-right-bubble {
    background-color: var(--right-bubble);
}

.has-left-bubble {
    background-color: var(--left-bubble);
}

.has-background-hr {
    background-color: var(--hr-magenta);
}

.has-text-primary, .has-text-link, .has-text-info {
    color: var(--hr-magenta) !important;
}

.header a, .header a:visited, .header a:active {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.disabledform {
    pointer-events: none;
    opacity: 0.3;
}

.hidden {
    display: none;
}

#logo {
    height: 60px;
}

#footer-logo {
    width: 80px;
    /* height: 113px; */
    /* filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2)); */
}

.bubble-right,
.bubble-left {
    position: relative;
    border-radius: 10px;
}

.bubble-right::first-letter,
.bubble-left::first-letter {
    text-transform: capitalize;
}

.bubble-right:after {
    content: "";
    position: absolute;
    right: -18px;
    top: 12px;
    width: 30px;
    height: 30px;
    background: var(--right-bubble);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.bubble-left:after {
    content: "";
    position: absolute;
    left: -18px;
    top: 12px;
    width: 30px;
    height: 30px;
    background: var(--left-bubble);
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.animate-left {
    animation: slide-in-left 0.5s ease-in-out;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-right {
    animation: slide-in-right 0.5s ease-in-out;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}